/* Imagens */
.NmurderDrone {
  max-width: 100%;
  /* Faz a imagem nunca ultrapassar a largura da tela */
  height: auto;
  /* Mantém proporção */
  border-radius: 20px;
  /* Diminui no mobile pra não ficar exagerado */
  border: #ffd700 3px solid;
  margin-bottom: 20px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #ffd700, 0 0 15px #ffd700;
  }

  50% {
    box-shadow: 0 0 20px #ffd700, 0 0 40px #ffd700;
  }

  100% {
    box-shadow: 0 0 5px #ffd700, 0 0 15px #ffd700;
  }
}

/* Corpo */
body {
  background: linear-gradient(135deg, #353839, #0f0f0f, #000000);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffd700;
  text-align: center;
  margin: 50px;
  padding: 50px 20px 300px 20px;

}

/* Links */
a {
  background-color: #ffd700;
  font-size: 18px;
  border-radius: 10px;
  padding: 12px;
  display: block;
  text-align: center;
  margin: 12px auto;
  width: 90%;
  /* Ocupa quase toda a largura no celular */
  max-width: 400px;
  /* Mas no desktop não fica gigante */
  color: #353839;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  /* sombra suave */
}

/* Efeito hover no desktop */
a:hover {
  background-color: #353839;
  color: #ffd700;
  border: #ffd700 2px solid;
  transform: scale(1.03);
  /* cresce levemente no hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

/* Media queries para celular */
@media (max-width: 768px) {
  a {
    font-size: 16px;
    /* Letras um pouco menores */
    padding: 10px;
    /* Botões mais confortáveis */
    border-radius: 8px;
  }
}

.cabeçalho {
  border: white solid;
  border-radius: 20px;
  background-color: #ffd700;
  color: #353839;
  margin-top: 90px;
   animation: pulse 2s infinite;
   padding: 10px 15px 10px 10px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
  }

  50% {
    box-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
  }

  100% {
    box-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
  }
}


  .cabeçalho2 {
    border: black solid;
    background-color: #353839;
    color: #ffd700;
    border-radius: 20px;
    margin: 30px;
  }
  iframe {
     width: 100%;
  max-width: 560px;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 20px;
  border: white solid;
  }
  .Videozim {
    color: #000000;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
  }